<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lql.kotlindemo">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--集合部分-->
        <activity android:name=".activity.MyListActivity1"></activity>

        <!--函数部分-->
        <activity android:name=".activity.FunctionActivity"></activity>
        <!--控制流-->
        <activity android:name=".activity.ForActivity"></activity>
        <!--面向对象编程、类的构造器和继承-->
        <activity android:name=".activity.CodingToObjectActivity"></activity>
        <!--异常处理-->
        <activity android:name=".activity.ErrorActivity"></activity>

        <!--接口-->
        <activity android:name=".activity.InterfaceActivity"></activity>
        <!--泛型-->
        <activity android:name=".activity.GenericsActivity"></activity>
        <!--扩展-->
        <activity android:name=".activity.ExtendActivity"></activity>

        <!--recyclerview的页面-->
        <activity android:name=".activity.RecyclerVeiwActivity"></activity>
    </application>

</manifest>